body{
	background-color: #193a4f;
}
#classify a{
	color: #6699cc;
}
#classify a:hover{
	color: #ffffff;
}
.className{
	color: #ccccff;
}
#shoppingCart{
	color: #ffffff;
	background-color: #6a8502;
}
#shoppingCart:hover{
	color: #000000;
	background-color: #88ac04;
}
#wishList{
	color: #ffffff;
	background-color: #7098a2;
}
#wishList:hover{
	color: #000000;
	background-color: #c5cacf;
}
#menu2{
	color: #ccccff;
  background-color: #346c92;
}
#menu2 .lines{
	background-color: #193a4f;
}
#menu2 div{
	color: #6699cc;
	background-color: #dde3ea;
}
#menu2 a{
	color: #000000;
}
#menu2 .aa:hover{
	//color: #ffffff;
	background-color: #212d3d;
}
#menu2 a:hover{
	color: #ffffff;
	//background-color: #212d3d;
}
#menu2 div .lines{
	background-color: #ccccff;
}
.introName{
	color: #ffffff;
}